/* basic */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;    
}

/* background */
body::before {
    content: '';
    width: 100%;
    height: 100%;
    background: url("../res/sky-bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;   
    animation:bg-animate 7s linear infinite;
}

/* login-box */
.login-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    transition: 0.6s;
}
h2 {
    font-size: 2em;
    text-align: center;
}
.input-box {
    position: relative;
    width: 310px;
    margin: 15px 0 30px;
    border-bottom: 2px solid #fff;   
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    transition: 0.5s;
}
.input-box input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}
.input-box input:focus~label,
.input-box input:valid~label,
.input-box label.active {
    top: -5px;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 50px;
}

/* remember me ã€forgot */
.remember-forgot {
    margin: -15px 0 15px 0;
    display: flex;
    justify-content: space-between;
}
.remember-forgot input[type="checkbox"] {
    display: none;
}
.remember-forgot label {
    position: relative;
    user-select: none;
    padding-left: 20px;
    cursor: pointer;
}
.remember-forgot .fake {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15px;
    height: 15px; 
    border: #fff 1px solid;   
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.remember-forgot .fake .inner {
    width: 100%;
    height: 100%;
    line-height: 15px;
    margin-top: -3px;
    opacity: 0;
    transition: 0.4s;
}
.remember-forgot input[type="checkbox"]:checked + .fake > .inner {
    opacity: 1;
}
.remember-forgot a {
    color: #fff;
}

/* submit button */
button {
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: black;
    font-weight: 700;
}

/* register-link */
.register-link {
    font-size: 0.9em;
    text-align: center;
    margin-top: 25px;
}
.register-link a {
    font-weight: 700;
    color: #fff;
}
.error-text {
    height: 16px;
    text-align: center;
    margin: 8px 0 8px;
}
.error-text span{
    display: inline-block;
}
.shake-animate {
    animation: shake-animate 0.2s linear;
}


/* animattion -bg*/
@keyframes bg-animate {
    100% {
        filter: hue-rotate(360deg);
    }
}
/* animattion - error-text */
@keyframes shake-animate {
    0% {
        transform: translateX(3px);
    }
    25% {
        transform: translateX(-3px);
    }
    50% {
        transform: translateX(3px);
    }
    75% {
        transform: translateX(-3px);
    }
    100% {
        transform: translateX(0px);
    }
}
/*RWD*/
@media (max-width: 576px){
    .login-box {
        width: 100%;
        height: 100vh;
        border: none;
    }
}
@media (min-width:576px){
    .login-box:hover {
        box-shadow: 0 0 15px #fff;
        transform: translate(-50%,-51%);
    }
}


